.container {
    display: flex;
    flex-direction: column;
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal si es necesario */
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

.container > * {
    display: flex;
    white-space: pre;
}